<nav
    class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg mobile-nofixed">
    <div class="container-fluid px-0">
        <div class="row align-items-center w-100">
            <div class="col-6">
                <div class="justify-content-start">
                    <img src="assets/images/soulpageit_logo.png" class="cartImage"
                        alt="" [routerLink]="['/']">
                </div>
            </div>
            <div class="col-6">
                <div class="justify-content-end text-right">
                    <img src="assets/images/person.jpg" class="loggedin-user-profile-image">
                </div>
            </div>
        </div>
    </div>
</nav>
