app-repository{
    .repository-details{
        margin-top: 3.5rem;
    }

    .text-start{
        text-align: left;
    }
    .text-center{
        text-align: right;
    }
    .text-right{
        text-align: center;
    }

    .text-decoration{
        text-decoration: underline;
    }

    .favourite-repos{
        overflow: auto;
    }
}
