
app-master-detail{
    .fluid-container{
        overflow-x: none !important;
    }
    .master-details{
        margin-top: 4rem;
    }

    .text-start{
        text-align: left;
    }
    .text-center{
        text-align: right;
    }
    .text-right{
        text-align: center;
    }

    .remove-item{
        margin-left: 0.5rem;
        cursor: pointer;
    }
    .public-repo{
        &:hover{
            color: #55a7ff;
            cursor: pointer;
            text-decoration-line: underline;
        }
    }

    .text-decoration{
        text-decoration: underline;
        @media only screen and(max-width: 767px){
            text-align: center !important;
        }
    }

    .public-repos{
        overflow: auto;
    }

    .icon-placed{
        margin-left: 0.5rem;
    }

    .pointer-shown{
        cursor: pointer;
    }

    .favourite-repo-listing{
        @media only screen and(max-width: 767px){
            margin-top: 2rem;
        }
    }
}
